<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'Louvre ticketing' | trans }}{% endblock %}</title>

    {% block stylesheets %}
        <!-- CSS -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <!-- jQuery -->
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
        <link href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <!-- DatePicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <!-- Select 2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('louvre_home') }}">
                    <img src="{{ asset('img/louvre_icon.png') }}" class="icon"/>
                    {{ 'Louvre Museum' | trans }}
            </a>
        </div>

        <div class="dropdown locale">
            <button class="btn dropdown-toggle locale" type="button" data-toggle="dropdown">
                <i class="fa fa-globe" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu locale">
                <li>
                    <a href="{{ path('louvre_home', { _locale : 'fr'}) }}">
                        <img src="{{ asset('img/flag_fr.svg') }}" class="flag"/>
                        FR
                    </a>
                </li>
                <li>
                    <a href="{{ path('louvre_home', { _locale : 'en'})  }}">
                        <img src="{{ asset('img/flag_en.svg') }}" class="flag"/>
                        EN
                    </a>
                </li>

            </ul>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-top-content">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{path('louvre_home') }}" class="hvr-underline-from-center">{{ 'Home' | trans }}</a></li>
                    <li><a href="{{ path('louvre_booking') }}" class="hvr-underline-from-center">{{ 'Booking' | trans }}</a></li>
                    <li><a href="{{ path('louvre_about') }}" class="hvr-underline-from-center">{{ 'About' | trans }}</a></li>
                    <li><a href="{{ path('louvre_contact') }}" class="hvr-underline-from-center">{{ 'Contact' | trans }}</a></li>
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="main-container container-fluid">
    <div class="fixed-part">
        <div class="col-md-6 col-sm-12 col-xs-12 no-col-padding">
            <div class="image-left">
                <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
                    <div class="carousel-inner">
                        <div class="item img1 active"></div>
                        <div class="item img2"></div>
                        <div class="item img3"></div>
                    </div>
                </div>
                <div id="image-overlay"></div>
                <div id="image-title">
                    {{ 'Discover the Louvre' | trans }}
                </div>
                <div id="triangle-bottomright"></div>
            </div>

{% block body %}

{% endblock %}
    <script>
        var url = window.location;
        $('ul.nav a[href="'+ url +'"]').parent().addClass('active');

        $('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');
    </script>
</body>
</html>