body {
    font-family: 'Roboto', sans-serif !important;
}

.main-container {
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.img1, .img2, .img3 {
    background-position: center !important;
    background-size: cover !important;
    position: relative !important;
    width: 100%;
    height: 100vh;
}

.img1 {
    background: url(/img/louvre.jpeg) no-repeat;
}

.img2 {
    background: url(/img/louvre_2.jpg) no-repeat;
}

.img3 {
    background: url(/img/louvre_3.jpg) no-repeat;
}

.content-middle {
    padding-top: 90px;
    overflow: auto;
}

.content-title-home {
    font-size: 17pt;
    margin: 30px 0 30px 0;
    padding-left: 20px;
    font-weight: 700;
}

.content-title {
    font-size: 20pt;
    margin: 30px 0 30px 0;
    font-weight: 700;
}

.content-table, .content-form {
    margin-top: 50px;
}

.content-table {
    margin-bottom: 20px;
}

.content-index-home {
    line-height: 18.5pt;
    font-size: 11.7pt;
    max-width: 90%;
    padding-left: 20px;
}

.content-index {
    line-height: 20pt;
    font-size: 12pt;
}

span.table-info {
    font-size: 10pt;
    padding: 10px;
    color: #969696;
}

.container-right {
    padding: 0 90px 0 50px !important;
    text-align: justify;
}

.image-left, .content-middle{
    height: 100vh;
}

#image-title {
    position: absolute;
    top: 30%;
    left: 30%;
    color: #FFFFFF;
    font-size: 50pt;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px #424242;
    text-align: center;
    z-index: 3;
    max-width: 300px;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100vh solid #FFFFFF;
    border-left: 20vh solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#image-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    left: 0;
    top: 0;
}

img.icon {
    display: inline-block !important;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 2px;
}

a.navbar-brand {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 15.5pt;
    text-shadow: 2px 2px #424242;
}

a.navbar-brand:hover {
    color: #FFFFFF;
}

ul.nav.navbar-nav.navbar-right {
    padding: 10px 40px 10px 10px;
}

.navbar-right a {
    margin-right: 40px;
    margin-left: 40px;
    text-transform: uppercase;
    color: #bdbdbd;
    font-size: 15.5pt;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    transition: ease-in-out 0.3s;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #4a4a4a;
    background-color: transparent !important;
    transition: ease-in-out 0.3s;
}

li.active a {
    color: #4a4a4a;
}

.go-booking {
    text-align: center;
    color: #FFFFFF;
}

.go-booking i {
    margin-left: 5px;
}

.go-booking button {
    background-color: #e2aa2d;
}

.go-booking button:hover {
    color: #FFFFFF;
}

.details {
    padding: 10px 0 10px 0;
    color: #a5a5a5;
    font-size: 10pt;
}

span.asterisk {
    font-size: 9pt;
}

span.asterisk-red {
    font-size: 9pt;
    color: red;
    margin-left: 3px;
}

td.disabled.disabled-date.day, td.disabled.disabled-date.day:hover {
    color: #ff7777;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #4a4a4a;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

div#louvre_bookingbundle_booking_visitors_0,
div#louvre_bookingbundle_booking_visitors_1,
div#louvre_bookingbundle_booking_visitors_2,
div#louvre_bookingbundle_booking_visitors_3,
div#louvre_bookingbundle_booking_visitors_4,
div#louvre_bookingbundle_booking_visitors_5 {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 1px;
    padding: 10px;
    margin-bottom: 20px;
}

.bookingForm .row {
    margin-bottom: 20px;
}

div#visitorForm {
    display: inline-block;
    width: 100%;
}

div#submit {
    text-align: center;
    padding-top: 15px;
}

.summary-card {
    border-top: 1px solid #e4e4e4;
    padding-top: 35px;
    margin-top: 15px;
}

.summary-details {
    padding: 15px 0 0 10px;
    margin-bottom: 20px;
}

.grey-bg {
    background-color: #efefef;
    padding: 7px;
}

.white-bg {
    padding: 7px;
}

.bold {
    font-weight: 700;
    color: #4a4a4a;
}

body .no-col-padding {
    padding: 0;
}

.navbar-top-content {
    width: 49vw;
    float: right;
    background-color: #FFFFFF;
}

span.icon-bar {
    background-color: #000000;
}

.sep {
    margin-bottom: 15px;
}

.visitorLabel {
    margin: 0 0 20px 10px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 5px;
    color: #2f2f2f;
}

.visitorLabel i {
    margin-right: 5px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.visitor .fa.fa-user {
    margin-right: 5px;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner {
    height: 100vh;
}

/******************************
*******************************
*********PROGRESS BAR**********
*******************************
*******************************/

.bs-wizard {margin-top: 15px; margin-bottom: 15px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


/******************************
*******************************
*********PDF TEMPLATE**********
*******************************
*******************************/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.ticket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 20px 20px;
}
.ticket .stub,
.ticket .check {
    box-sizing: border-box;
}
.stub {
    background: #ef5658;
    height: 250px;
    width: 250px;
    color: white;
    padding: 20px;
    position: relative;
}
.stub:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 20px solid #dd3f3e;
    border-left: 20px solid #ef5658;
    width: 0;
}
.stub:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 20px solid #dd3f3e;
    border-left: 20px solid #ef5658;
    width: 0;
}
.stub .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    text-transform: uppercase;
}
.stub .top .line {
    display: block;
    background: #fff;
    height: 40px;
    width: 3px;
    margin: 0 20px;
}
.stub .top .num {
    font-size: 10px;
}
.stub .top .num span {
    color: #000;
}
.stub .number {
    position: absolute;
    left: 15px;
    bottom: 40px;
    font-size: 85px;
}
span.bookingNumber {
    padding-left: 5px;
}
.check {
    background: #fff;
    height: 250px;
    width: 450px;
    padding: 40px;
    position: relative;
    border: 1px solid #dedede;
}
.check:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    border-top: 20px solid #dd3f3e;
    border-right: 20px solid #fff;
    width: 0;
}
.check:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    border-bottom: 20px solid #dd3f3e;
    border-right: 20px solid #fff;
    width: 0;
}
.check .big {
    font-size: 65px;
    font-weight: 900;
    line-height: .8em;
}
.check .number {
    position: absolute;
    top: 40px;
    right: 50px;
    color: #ef5658;
    font-size: 40px;
}
.check .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 12px;
    margin-top: 40px;
    width: 100%;
}
.check .info section {
    margin-right: 50px;
}
.check .info section:before {
    content: '';
    background: #ef5658;
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 5px;
}
.check .info section .title {
    font-size: 10px;
    text-transform: uppercase;
}

.dropdown.locale {
    position: absolute!important;
    right: 0;
    top: 0;
}
ul.dropdown-menu.locale {
    position: absolute!important;
    left: -50px!important;
}
img.flag {
    max-width: 20px;
    margin-right: 5px;
}
button.btn.dropdown-toggle.locale {
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 1px;
    font-size: 15pt;
}

.cut-line {
    width: 95%;
    height: 2px;
    border: 1px dashed #afafaf;
    position: relative;
}

.cut-line .fa-scissors {
    position: absolute;
    right: -20px;
    bottom: -10px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 15pt;
    color: #797979;
}

.about-info {
    font-size: 11.8pt;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #cccccc;
    border-radius: 1px;
}

.contact-info {
    font-size: 11.8pt;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #cccccc;
    border-radius: 1px;
}

.about-info p {
    margin-bottom: 15px;
}

.contact-info p {
    padding-left: 30px;
}

.about-info i, .contact-info i {
    margin-right: 7px;
}

span.howToGo {
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
    font-size: 15pt;
}
/******************************
*******************************
*********MEDIA QUERIES*********
*******************************
*******************************/

@media (max-width: 992px) {
    #triangle-bottomright {
        display: none;
    }
    .navbar {
        background-color: #FFFFFF;
    }
    a.navbar-brand {
        color: #3a3a3a;
        text-shadow: none;
    }
}

@media (max-width: 770px) {
    .navbar-brand {
        padding: 7px 15px !important;
    }
}

@media (min-width: 765px) and (max-width: 992px) {
    .navbar-top-content {
        background-color: transparent;
    }
    ul.nav.navbar-nav.navbar-right {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .dropdown.locale {
        position: absolute!important;
        right: 70px;
        top: 4px;
    }
    ul.nav.navbar-nav.navbar-right {
        padding: 0;
    }
    .hvr-underline-from-center:before {
        background: none;
    }
    a.navbar-brand:hover {
        color: #3a3a3a;
    }
    .container-right {
        padding: 0 !important;
    }
}

@media (max-width: 520px) {
    #image-title {
        left: 15%;
    }
}

