<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    ::-moz-selection {
      background: #b3d4fc;
      text-shadow: none;
    }

    ::selection {
      background: #b3d4fc;
      text-shadow: none;
    }

    html {
      padding: 30px 10px;
      font-size: 20px;
      line-height: 1.4;
      color: #737373;
      background: #f0f0f0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    html,
    input {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    body {
      max-width: 500px;
      _width: 500px;
      padding: 30px 20px 50px;
      border: 1px solid #b3b3b3;
      border-radius: 4px;
      margin: 0 auto;
      box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
      background: #fcfcfc;
    }

    h1 {
      margin: 0 10px;
      font-size: 50px;
      text-align: center;
    }

    h1 span {
      color: #bbb;
    }

    h3 {
      margin: 1.5em 0 0.5em;
    }

    p {
      margin: 1em 0;
    }

    ul {
      padding: 0 0 0 40px;
      margin: 1em 0;
    }

    .container {
      max-width: 380px;
      _width: 380px;
      margin: 0 auto;
    }
  </style>
  <title>{{ 'Error - Missing page' | trans }}</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>404 <span>:(</span></h1>
      <p>
          {{ "The page you are trying to access doesn't exist, or you're not allowed to see it." | trans }}
      </p>
      <p>{{ 'It looks like this was the result of either:' | trans }}</p>
      <ul>
        <li>{{ 'a mistyped address' | trans }}</li>
        <li>{{ 'an out-of-date link' | trans }}</li>
      </ul>
    </div>
  </div>
</body>
</html>