{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'About' | trans }}{% endblock %}

{% block body %}
    </div> <!-- col-md-6 left -->

    <div class="col-md-6 col-sm-12 col-xs-12 content-middle">
        <div class="container-fluid container-right">
            <div class="content-title">
                {{ 'About the Louvre Museum' | trans }}
            </div>
            <div class="content-index">

                <div id="map"></div>
                <div class="about-info">
                    <span class="howToGo">{{ 'How to get there ?' | trans }}</span>
                    <p><strong><i class="fa fa-train" aria-hidden="true"></i> {{ 'By subway :' | trans }}</strong> {{ 'line' | trans }} 1 station Palais-Royal/musée du Louvre</p>
                    <p><strong><i class="fa fa-bus" aria-hidden="true"></i> {{ 'By bus :' | trans }}</strong> bus n° 21,24,27,39,48,68,69,72,81,95</p>
                    <p><strong><i class="fa fa-car" aria-hidden="true"></i> {{ 'By car :' | trans }}</strong> {{ 'an underground car park is accessible by General Lemonier Avenue, every day from 7 am to 11 pm.' | trans }}</p>
                    <p><strong><i class="fa fa-ship" aria-hidden="true"></i> {{ 'By boat :' | trans }}</strong> {{ 'Louvre stop, dock François Mitterrand' | trans }}</p>
                    <p><strong><i class="fa fa-plane" aria-hidden="true"></i> {{ 'From Orly airport :' | trans }}</strong> {{ 'RER C direction Champs de Mars-Eiffel Tower, get off at Saint-Michel Notre-Dame, walk to Saint Michel, take the bus 27 direction Saint Lazare, get off at Louvre Museum, in front of the Pyramid.' | trans }}</p>
                    <p><strong><i class="fa fa-plane" aria-hidden="true"></i> {{ 'From Charles de Gaulle airport :' | trans }}</strong> {{ 'RER B direction Massy-Palaiseau, change at Chatelet les Halles, take line 14 towards Saint-Lazare, get off at Pyramides and walk to the Louvre Museum or take line 1 and get off at Palais-Royal / Louvre Museum.' | trans }}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var uluru = {lat: 48.8606111, lng: 2.3376439999999548};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd-D5LaVEqKODdCXvT5gjsxZIbxEG733o&callback=initMap">
    </script>
    <style>
        #map {
            width: 100%;
            height: 250px;
            background-color: grey;
        }
    </style>
    </div> <!-- main-container -->
{% endblock %}