{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Booking' | trans }}{% endblock %}

{% block body %}
            </div> <!-- col-md-6 left -->

            <div class="col-md-6 col-sm-12 col-xs-12 content-middle">
                <div class="container-fluid container-right">

                    <div class="row bs-wizard" style="border-bottom:0;">
                        <div class="col-xs-4 bs-wizard-step active">
                            <div class="text-center bs-wizard-stepnum"><strong>{{ 'Booking' | trans }}</strong></div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>

                        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">{{ 'Summary & Payment' | trans }}</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>

                        <div class="col-xs-4 bs-wizard-step disabled"><!-- active -->
                            <div class="text-center bs-wizard-stepnum">{{ 'Complete' | trans }}</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>
                    </div>

                    <div class="content-index">
                        {{ include("LouvreBookingBundle:Booking:form.html.twig") }}
                    </div>
                </div>
            </div>
    </div> <!-- main-container -->
{% endblock %}