<html>
<head>
    <meta charset="UTF-8">
    <link href="{{ pathToWeb }}/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ pathToWeb }}/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>

    {# FOR DEBUG ONLY #}

    {#<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('fonts/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>#}

</head>


<body>
            {% for visitor in booking.visitors %}
                <div class="ticket">
                    <div class="stub">
                        <div class="top">
                            <span class="admit">{{ 'Ticket' | trans }}</span>
                            <span class="line"></span>
                            <span class="num">
                                {{ 'Booking' | trans }}
                                <span class="bookingNumber">{{ booking.bookingNumber }}</span>
                            </span>
                        </div>
                        <div class="number">{{ booking.bookingNumber }}</div>
                    </div>
                    <div class="check">
                        <div class="big">
                            Musée <br> du Louvre
                        </div>
                        <div class="number">#{{ visitor.id }}</div>
                        <div class="info">
                            <section>
                                <div class="title">{{ 'Date' | trans }}</div>
                                <div>{{ booking.dateBooking|date('Y-m-d') }}</div>
                            </section>
                            <section>
                                <div class="title">{{ 'Name' | trans }}</div>
                                <div>{{ visitor.name }}</div>
                            </section>
                            <section>
                                <div class="title">{{ 'Visitor' | trans }}</div>
                                <div>#{{ visitor.id }}</div>
                            </section>
                            <section>
                                <div class="title">{{ 'Type' | trans }}</div>
                                <div>
                                    {% if booking.bookingType == 1 %}
                                        {{ 'Half-day' | trans }}
                                    {% elseif booking.bookingType == 2 %}
                                        {{ 'Day' | trans }}
                                    {% endif %}
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="cut-line"><i class="fa fa-scissors" aria-hidden="true"></i></div>
            {% endfor %}
</body>
</html>