{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Contact' | trans }}{% endblock %}

{% block body %}
</div> <!-- col-md-6 left -->

<div class="col-md-6 col-sm-12 col-xs-12 content-middle">
    <div class="container-fluid container-right">
        <div class="content-title">
            {{ 'Contact us' | trans }}
        </div>
        <div class="content-index">
            <div class="contact-info">
                <span class="howToGo"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ 'Address' | trans }}</span>
                <p>75058 Paris CEDEX 01<br>
                France</p><br>

                <span class="howToGo"><i class="fa fa-phone" aria-hidden="true"></i> {{ 'Phone' | trans }}</span>
                <p>+ 33 (0)1 40 20 50 50</p><br>

                <span class="howToGo"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ 'Schedule' | trans }}</span>
                <p>{% trans %}Open daily from 9 am to 6 pm except Tuesdays <br> Nocturnes until 9:45 pm on Wednesdays and Fridays {% endtrans %}</p><br>

                <span class="howToGo"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'Closures' | trans }}</span>
                <p>{{ 'January 1st, May 1st and December 25th' | trans }}</p><br>

                <span class="howToGo"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ 'General informations' | trans }}</span>
                <p>{{ 'For information on the museum, the services at your disposal and our news, the team of the reception service is at your disposal:' | trans }}<br>
                {{ 'Museum informations :' | trans }}<br>
                {{ 'Tel.' | trans }} : +33 (0)1 40 20 53 17<br>
                {{ 'Every day, except Tuesday, from 9h to 18h45 (21h45 Wednesdays and Fridays).' | trans }}<br>
                info@louvre.fr</p>
            </div>
        </div>
    </div>
</div>
</div> <!-- main-container -->
{% endblock %}