{{ form_start(form) }}
{{ form_errors(form) }}

    <div class="bookingForm">
        <div class="row">
            <div class="col-md-6">
                {{ form_label(form.dateBooking) }}
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    {{ form_widget(form.dateBooking) }}
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(form.bookingType) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.visitorNumber) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.email) }} <span class="asterisk-red">*</span>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">@</div>
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>

        <div id="visitorForm" data-prototype="
            {% filter escape %}
                {{ include('@LouvreBooking/Booking/booking-visitor-prototype.html.twig', { 'form': form.visitors.vars.prototype }) }}
            {% endfilter %}
        ">
            {% for visitor in form.visitors %}
                {{ include('@LouvreBooking/Booking/booking-visitor-prototype.html.twig', { 'form': visitor }) }}
            {% endfor %}
        </div>
    </div>

<div id="comment">
    {{ form_row(form.comment) }}
</div>
<div class="details">
    * : {{ 'Half-day ticket allowed from 2PM' | trans }}<br/>
    ** : {{ 'Reduced prices available with a reduction card (student, museum employee, military...)' | trans }}
</div>
<div id="submit" class="go-booking">
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        $(function() {
            var $collectionHolder = $('#visitorForm');
            var $select = $('select#louvre_bookingbundle_booking_visitorNumber');

            $('label[for="louvre_bookingbundle_booking_bookingType"]').after('<span class="asterisk">*</span>').css('margin-right', '3px');
            $('label[for="louvre_bookingbundle_booking_dateBooking"]').after('<span class="asterisk-red">*</span>');

            $(document).ready(function() {
                if($collectionHolder.find('.visitor').length == 0) {
                    addVisitor();
                }
                $select.on("change", addVisitor);
            });


            function addVisitor() {
                var prototype = $collectionHolder.data('prototype');

                var index = $collectionHolder.find('.visitor').length;

                if (index > parseInt($select.val())) {
                    for (i = parseInt($select.val()); i <= index; i++) {
                        $('#louvre_bookingbundle_booking_visitors_' + i).closest("div.visitor").remove();
                    }
                } else {
                    for(i = index; i < parseInt($select.val()); i++) {
                        var newForm = prototype;
                        var visitorNumber = i + 1;

                        newForm = newForm.replace(/__name__label__/g, '<i class="fa fa-user" aria-hidden="true"></i> {{ 'Visitor' | trans }} ' + visitorNumber ).replace(/__name__/g, i);

                        $collectionHolder.append(newForm);
                        addCss();
                    }
                }
            }

            function addCss() {
                //// CSS ////

                // Add select2 to birthDate and country fields
                $('#louvre_bookingbundle_booking_visitors_'+ i + '_birthDate_year').select2({width:'33%'});
                $('#louvre_bookingbundle_booking_visitors_'+ i + '_birthDate_month').select2({width:'33%'});
                $('#louvre_bookingbundle_booking_visitors_'+ i + '_birthDate_day').select2({width:'33%'});
                $('#louvre_bookingbundle_booking_visitors_'+ i + '_country').select2({width:'100%'});

                // Asterisks in booking form
                $('label[for="louvre_bookingbundle_booking_visitors_'+ i + '_name"]').after('<span class="asterisk-red">*</span>');
                $('label[for="louvre_bookingbundle_booking_visitors_'+ i + '_firstName"]').after('<span class="asterisk-red">*</span>');
                $('label[for="louvre_bookingbundle_booking_visitors_'+ i + '_country"]').after('<span class="asterisk-red">*</span>');
                $('label[for="louvre_bookingbundle_booking_visitors_'+ i + '_reduction"]').after('<span class="asterisk">**</span><br/>').css('margin-right', '3px');
                $('div#louvre_bookingbundle_booking_visitors_'+ i + '_birthDate').before('<span class="asterisk-red">*</span>');
                $('input[type=checkbox]#louvre_bookingbundle_booking_visitors_'+ i + '_reduction').after('Oui').css('margin-right', '6px');

                // Add col-md-12 to visitors (so all the col-md-6 inside work)
                $("#louvre_bookingbundle_booking_visitors_" + i).addClass('col-md-12').css('padding', '15px');

                // Add col-md-6 to each child of bookingVisitors
                $("#louvre_bookingbundle_booking_visitors_"+ i + "> div:nth-child(1)").addClass('col-md-6 sep');
                $("#louvre_bookingbundle_booking_visitors_"+ i + "> div:nth-child(2)").addClass('col-md-6 sep');
                $("#louvre_bookingbundle_booking_visitors_"+ i + "> div:nth-child(3)").addClass('col-md-6 sep');
                $("#louvre_bookingbundle_booking_visitors_"+ i + "> div:nth-child(4)").addClass('col-md-6 sep');
                $("#louvre_bookingbundle_booking_visitors_"+ i + "> div:nth-child(5)").addClass('col-md-6 sep');
                $("#louvre_bookingbundle_booking_visitors_"+ i + "> div:nth-child(6)").addClass('col-md-6 sep');
            }



            {% if not form.vars.valid %}
                var visitors = "{{ form.visitors | length }}";

                for ( var i = 0 ; i < visitors ; i++) {
                    var j = 1;
                    $collectionHolder.find('.visitor').each(function (e) {
                        $(this).children('div').children('label')[0].innerHTML = '<i class="fa fa-user" aria-hidden="true"></i> {{ 'Visitor' | trans }} ' + j ;
                        j++;
                    });
                    addCss();

                }
            {% endif %}

            var date = new Date();
            date.setDate(date.getDate());

            $('.js-datepicker').datepicker({
                startDate: date,
                todayHighlight: true,
                format: 'dd-mm-yyyy',
                language: 'fr',
                orientation: "bottom",
                daysOfWeekDisabled: [0,2],
                datesDisabled:
                    [
                        '01/05/2017', '01/05/2018', '01/05/2019', '01/05/2020',
                        '01/11/2017', '01/11/2018', '01/11/2019', '01/11/2020',
                        '25/12/2017', '25/12/2018', '25/12/2019', '25/12/2020'
                    ]
            })
        });

        $(function() {
            $.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["dim", "lun", "mar", "mer", "jeu", "ven", "sam"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        });
    </script>
{% endblock %}


