{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Home' | trans }}{% endblock %}

{% block body %}
            </div> <!-- col-md-6 left -->
    </div> <!-- fixed-part -->

            <div class="col-md-6 col-sm-12 col-xs-12 content-middle">
                <div class="container-fluid container-right">
                    <div class="content-title-home">{{ 'A one way trip to culture...' | trans }}</div>
                    <div class="content-index-home">
                        {% trans %}
                        The Louvre Museum, located in Paris, is a historical monument and a national museum of France. It is a central landmark, located on the right bank of the Seine in the 1st arrondissement.<br>Former residence of the kings of France, the Louvre Museum in Paris is today the most visited museum in the world. More than 8 million people come every year to discover exceptional works such as the Venus de Milo and the Mona Lisa.<br><br>The Museum, which is organized in eight departments, presents 35,000 works on 60,600 m² of rooms dedicated to permanent collections. Universal museum, the Louvre gathers various works of art (paintings, sculptures, drawings, ceramics, archaeological objects and art objects ...) dating from Antiquity to 1848 and coming from a large part of the world, from Western Europe to Iran. <br>If many visitors come to admire the enigmatic smile of Leonardo da Vinci's Mona Lisa, the Code of Hammurabi, the Venus de Milo and 'Freedom guiding the people' of Eugene Delacroix.
                        {% endtrans %}
                            <br/><br/>
                        {{ 'The prices of the reservations are listed as follows :' | trans }}
                        </div>
                    <div class="content-table">
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                            <tr>
                                <th></th>
                                {% for tarif in tarifs %}
                                    <th>{{ tarif.tarifType | trans }}</th>
                                {% endfor %}
                                <th>{{ 'Reduced price' | trans }} <span class="asterisk">*</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ 'Day' | trans }}</th>
                                {% for tarif in tarifs %}
                                    <td>{{ tarif.tarifPrice }} €</td>
                                {% endfor %}
                                <td>-10 €</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Half-day' | trans }} <span class="asterisk">**</span></th>
                                {% for tarif in tarifs %}
                                <td>{{ tarif.tarifPrice / 2 }} €</td>
                                {% endfor %}
                                <td>-10 €</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="details">
                            * : {{ 'Reduced prices available with a reduction card (student, museum employee, military...)' | trans }}<br/>
                            ** : {{ 'Half-day ticket allowed from 2PM' | trans }}<br/>
                            *** : {{ 'The Museum is open everyday, except tuesdays (and closed the 1st of May, 1st of Novembre and the 25th December)' | trans }}
                        </div>
                    </div>
                    <div class="go-booking">
                        <a href="{{ path('louvre_booking') }}" class="go-booking">
                            <button type="button" class="btn btn-secondary btn-lg">{{ 'Book your ticket' | trans }}
                                <i class="fa fa-ticket" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </div> <!-- main-container -->
{% endblock %}