{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Payment processed' | trans }}{% endblock %}

{% block body %}
    </div> <!-- col-md-6 left -->

        <div class="col-md-6 col-sm-12 col-xs-12 content-middle">
            <div class="container-fluid container-right">
                <div class="row bs-wizard" style="border-bottom:0;">
                    <div class="col-xs-4 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum">{{ 'Booking' | trans }}</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center"></div>
                    </div>

                    <div class="col-xs-4 bs-wizard-step complete"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">{{ 'Summary & Payment' | trans }}</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center"></div>
                    </div>

                    <div class="col-xs-4 bs-wizard-step complete"><!-- active -->
                        <div class="text-center bs-wizard-stepnum"><strong>{{ 'Complete' | trans }}</strong></div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center"></div>
                    </div>
                </div>

                <div class="content-title">
                    {{ 'Payment succeed !' | trans }}
                </div>
                <div class="content-index">
                    <p>{{ 'We thank you for your reservation, and wish you a pleasant visit at the Louvre Museum.' | trans }}</p>
                    <p>{{ 'An email will be sent to you to the address _email containing your tickets.' | trans({'_email' : booking.email }) }}</p>

                </div>
            </div>
        </div>
    </div>
    </div> <!-- main-container -->
{% endblock %}