{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Booking summary' | trans }}{% endblock %}

{% block body %}
    </div> <!-- col-md-6 left -->

    <div class="col-md-6 col-sm-12 col-xs-12 content-middle">
        <div class="container-fluid container-right">

            <div class="row bs-wizard" style="border-bottom:0;">
                <div class="col-xs-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">{{ 'Booking' | trans }}</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"></div>
                </div>

                <div class="col-xs-4 bs-wizard-step active"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><strong>{{ 'Summary & Payment' | trans }}</strong></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"></div>
                </div>

                <div class="col-xs-4 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum">{{ 'Complete' | trans }}</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"></div>
                </div>
            </div>

            <div class="content-title">
                {{ 'Booking succeed !' | trans }}
            </div>
            <div class="content-index">
                <p>{{ 'We thank you for your booking, below is a summary of your current reservation :' | trans}}</p>
                <p>{{ 'Proceed to the final step of your payment at the end of this page.' | trans }}</p>

                <div class="summary-card">
                    <h4>{{ 'Summary of your reservation :' | trans }}</h4>
                    <div class="summary-details">
                        <div class="grey-bg">
                            <div class="row">
                                <div class="col-md-6 bold">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    {{ 'Booking number :' | trans }}
                                </div>
                                <div class="col-md-6">
                                    # {{ booking.id }}
                                </div>
                            </div>
                        </div>
                        <div class="white-bg">
                            <div class="row">
                                <div class="col-md-6 bold">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    {{ 'Booking email :' | trans }}
                                </div>
                                <div class="col-md-6">
                                    {{ booking.email }}
                                </div>
                            </div>
                        </div>
                        <div class="grey-bg">
                            <div class="row">
                                <div class="col-md-6 bold">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    {{ 'Booking date :' | trans }}
                                </div>
                                <div class="col-md-6">
                                    {{ booking.dateBooking|date('Y-m-d') }}
                                </div>
                            </div>
                        </div>

                        <div class="white-bg">
                            <div class="row">
                                <div class="col-md-6 bold">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    {{ 'Number of visitors :' | trans }}
                                </div>
                                <div class="col-md-6">
                                    {{ booking.visitorNumber }}
                                </div>
                            </div>
                        </div>

                        <div class="grey-bg">
                            <div class="row">
                                <div class="col-md-6 bold">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    {{ 'Total price :' | trans }}
                                </div>
                                <div class="col-md-6">
                                    {{ booking.totalPrice }} €
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="go-booking">
                        <form action="{{ path('louvre_booking_checkout', {'id': booking.id}) }}" method="POST">
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_SVzt8mDjtbGHE51vEx0cDtOF"
                                    data-amount="{{ booking.totalPrice * 100}}"
                                    data-name="{{ 'Louvre Museum' | trans }}"
                                    data-description="{{ 'Proceed to the payment of your ticket' | trans }}"
                                    data-image="/img/louvre_icon_stripe.png"
                                    data-locale="auto"
                                    data-currency="eur"
                                    data-label="{{ 'Payment' | trans }}"
                                    data-panel-label="{{ 'Pay' | trans }}"
                                    data-email="{{ booking.email }}"
                                    data-allow-remember-me="false">
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> <!-- main-container -->
{% endblock %}